<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tưởng Phan Dev</title>
</head>
<body>
    <p>Tưởng Phan Dev</p>
    <p><%=data %></p>
</body>
</html>